<ion-header class="custom-header-inner">
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button ios-arrow-back class="arrow-icon" (click)="backBtnFunc()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button ios-arrow-back class="arrow-icon" style="visibility: hidden;">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>FORGOT PASSWORD</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="forgot-password-wrapper">
        <div class="forgot-icon"><img src="assets/imgs/forgot-password.png"></div>
        <div class="welcome-text">Please enter your registered email address. We will send you a new password</div>
        <form [formGroup]="forgotForm">
            <div class="forgot-field">
                <ion-list>
                    <ion-item [ngClass]="{'error-border': (forgotForm.get('email').hasError('pattern') || forgotForm.get('email').hasError('required')) && forgotForm.get('email').touched }">
                        <ion-input type="email" class="email-field" formControlName="email" placeholder="Email" [attr.maxlength]="50" [(ngModel)]="user.emailVal"></ion-input>
                    </ion-item>
                    <label *ngIf="(forgotForm.get('email').hasError('pattern') || forgotForm.get('email').hasError('required') ) && forgotForm.get('email').touched">   
                        <p class="error err_cls" *ngIf="forgotForm.get('email').hasError('required') && forgotForm.get('email').touched">Enter an email address.</p>
                        <p class="error err_cls" *ngIf="forgotForm.get('email').hasError('pattern') && forgotForm.get('email').touched">Enter a valid email address.</p>
                    </label>
                </ion-list>
            </div>
            <div class="black-btn">
                <button ion-button block [disabled]="forgotForm.invalid" (click)="submit()">SUBMIT</button>
            </div>
        </form>        
    </div>
</ion-content>
  
  