<ion-header class="custom-header-inner">
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button ios-arrow-back class="arrow-icon" (click)="backBtnFunc()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button ios-arrow-back class="arrow-icon" style="visibility: hidden;">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>CHANGE PASSWORD</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="forgot-password-wrapper change-password">
        <div class="forgot-icon"><img src="assets/imgs/change-password-icon.png"></div>
        <div class="forgot-field change_field">
            <ion-list>
                <ion-item>
                    <ion-input type="password" class="password-field" placeholder="Old Password" [(ngModel)]="user.oldP" [attr.maxlength]="16" (ionBlur)="oldPBlurFunc()" (keyup)="oldPBlurFunc()"></ion-input>
                </ion-item>
                <label *ngIf="oldPErr">
                    <p class="error">Password must be between 8 and 16 characters and must contain at least one letter, number, and special character.</p>
                </label>
                <ion-item>
                    <ion-input type="password" class="password-field" placeholder="New Password" [(ngModel)]="user.newP" [attr.maxlength]="16" (ionBlur)="newPBlurFunc()" (keyup)="newPBlurFunc()"></ion-input>
                </ion-item>
                <label *ngIf="newPErr">
                    <p class="error">Password must be between 8 and 16 characters and must contain at least one letter, number, and special character.</p>
                </label>
                <ion-item>
                    <ion-input type="password" class="password-field" placeholder="Confirm Password" [(ngModel)]="user.conP" [attr.maxlength]="16" (ionBlur)="confPBlurFunc()" (keyup)="confPBlurFunc()"></ion-input>
                </ion-item>
                <label *ngIf="confPErr">
                    <p class="error">Password does not match.</p>
                </label>
            </ion-list>
        </div>
        <div class="black-btn width-btn-50">
            <button ion-button [disabled]="user.oldP=='' || oldPErr==true || user.newP=='' || newPErr==true || user.conP=='' || confPErr==true" (click)="saveFunc()">SAVE</button>
            <button ion-button class="cancel-btn" (click)="cancelFunc()">CANCEL</button>
        </div>
    </div>
</ion-content>
  
  