page-nutrition {
    .foodHis-tbl .complete-table tr td{padding: 12px 5px; font-size: 1.5rem;}
    .foodHis-tbl .complete-table tr td:nth-child(2){background: #fff; padding: 12px 5px;}
    .foodHis-tbl .complete-table{height: auto;}
    .foodHis-tbl .nuti-grid-main:first-child{border-bottom: 1px solid #fd8484;}
    .foodHis-tbl .nuti-grid-main:first-child{padding: 0;}
}
